* {
    background-color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    /*esra*/
}



 
div.col {
    background-color: rgb(82, 64, 41);
    text-align: center;
    color: white;
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-color: antiquewhite;
    
}

#foto,#fig,#p1,#navbar{
    float: left;
    
}



#foto {
    margin: auto;

}

#fig{
    font-style: italic;
    font-size: 21px;
    color: rgb(82, 64, 41);
    font-weight: bolder;
    text-align: center;
}

div.col:hover {
    background-color:tan;
    color:rgb(82, 64, 41);
    font-weight: bolder;
    text-decoration:underline;
    
    
}


#navbar {
    float: right;
    width: 70%;
    margin-bottom: 10px;
    margin-right:5%;
    
}

.container {
    position:relative;
    text-align: center;
    color: white;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -70%);
    background-color: transparent;
    color:rgb(44, 21, 10);
    font-weight: bold;
    font-style:italic;
    
    font-size:30%;
    font-size: 50px;
    
}

p.x {
    background-color: transparent;
    text-align: left;
    font-weight: normal;
    text-decoration:none;
    font-size:1.6vw;
    transform: translate(30%,20%);
    margin: auto;
    color:rgb(59, 34, 10);
    font-weight: bolder;

}

span {
    background-color: transparent;
}


a {
    text-decoration:none;
    color:rgb(82, 64, 41);
    all: unset;
}


a:visited {
    color:rgb(82, 64, 41); 
    text-decoration:none;
    
}

a:hover {
    color:rgb(82, 64, 41);
    text-decoration:none;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited  {
    background-color:lightpink !important;
    color:black;
    margin-left: 5%;
    border-color: lightpink;
    
}

img {
    
    margin-left:-15%;
    
}

li.m {
    float: left;
    width: 22%;
    
}

ul.m{
    margin-left: 12%;
}

